@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Aeonik-Regular";
  src: url(./fonts/AeonikProTRIAL-Regular.otf);
}

@font-face {
  font-family: "Aeonik-light";
  src: url(./fonts/AeonikProTRIAL-Light.otf);
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #19191c;
  color: #fffafc;
  font-family: "Aeonik-Regular";
  min-height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
